<ion-header>
  <ion-navbar color="base">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Livros
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 <div [ngSwitch]="ordem">
 <div *ngSwitchCase="'normal'">
  <ion-searchbar   (ionInput)="getItems($event)" placeholder="Buscar" cancelButtonText="Cancelar"></ion-searchbar>
   <ion-list>
    <ion-item *ngFor="let item of items" (click)="openBook(item.number)">
     {{ item.book }}
    </ion-item>
  </ion-list>
 </div>
  <div *ngSwitchCase="'alfabetica'">
  <ion-searchbar  (ionInput)="getItemsAlfabetica($event)" placeholder="Buscar" cancelButtonText="Cancelar"></ion-searchbar>
   <ion-list>
    <ion-item *ngFor="let item of itemsAlfabetica" (click)="openBook(item.number)">
     {{ item.book }}
    </ion-item>
  </ion-list>
  </div>
  
  <div *ngSwitchCase="'nt'">
  <ion-searchbar  (ionInput)="getItemsNT($event)" placeholder="Buscar" cancelButtonText="Cancelar"></ion-searchbar>
   <ion-list>
    <ion-item *ngFor="let item of itemsNT" (click)="openBook(item.number)">
     {{ item.book }}
    </ion-item>
  </ion-list>
  </div>
  
  <div *ngSwitchCase="'vt'">
  <ion-searchbar  (ionInput)="getItemsVT($event)" placeholder="Buscar" cancelButtonText="Cancelar"></ion-searchbar>
   <ion-list>
    <ion-item *ngFor="let item of itemsVT" (click)="openBook(item.number)">
     {{ item.book }}
    </ion-item>
  </ion-list>
  </div>
 
</div>


 </ion-content>

<ion-footer >

  <ion-toolbar no-border-bottom color="base">
    <ion-segment [(ngModel)]="ordem" color="white" >
      <ion-segment-button value="normal" color="white"  >
        Tradicional
      </ion-segment-button>
      <ion-segment-button value="alfabetica" color="white">
        Alfabética
      </ion-segment-button>
      <ion-segment-button value="vt" color="white">
        Velho
      </ion-segment-button>
      <ion-segment-button value="nt" color="white">
        Novo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>