// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.segment-md .segment-button {
    font-size: 1rem;
}
.versicle {
    font-size: 1.1rem;
     
}

.verse {
    line-height: 180%;
}


.toolbarFooter  {
    height: 45px !important;
    min-height: 46px !important;
       

}

.toolbarFooter ion-icon {
    display: inline-block;
    font-size: 1.9em  !important;
     color: #FFFFFF !important;
}

.item-md {
	color: rgba(0, 0, 0, 0.54) !important;
}
.item-ios {
	color: rgba(0, 0, 0, 0.54) !important;
 }
 .content-md {
 	color: rgba(0, 0, 0, 0.72) !important;
}
 .content-ios {
 	color: rgba(0, 0, 0, 0.72) !important;
}

.toolbarFooter ion-icon .meio {
    display: inline-block;
    font-size: 3px  !important;
}

.nameVersion {
    font-size: 13px  !important;
}
.nameVersionToobar {
    font-size: 10px  !important;
     color: #FFFFFF !important;
}

.nameVersionToobarUp {
    font-size: 15px  !important;
     color: #FFFFFF !important;
}