<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{getBookName()}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-grid>
  <ion-row *ngFor="let row of grid">
  	 
    <ion-col width-20 *ngFor="let v of row">
      <div style="text-align:center !important">
      <button (click)="openVerse(v)" ion-button color="dark" clear>{{ getRow(v) }}</button>
      </div>
   	</ion-col>
   
  </ion-row>
</ion-grid>

</ion-content>
